.delete-button {
    margin-top: 5px;
    background-color: #6a0dad;
    border: none;
    color: whitesmoke;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 5px;
}
.close-button { 
    margin-top: 10px;
    background-color: #6a0dad;
    border: none;
    color: whitesmoke;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

#annotation-container {
    position : fixed;
    top : 10px;
    right : 10px;
    background-color : #1e1e1e; 
    border : 1px solid #6a0dad; 
    padding : 10px;
    z-index : 1000;
    box-shadow : 0 0 10px rgba(0, 0, 0, 0.5); 
    width : 300px;
    max-height : 400px;
    overflow-y : auto;
    color : #ffffff; 
    font-family : Arial, sans-serif;
}

#item {
    border-bottom: 1px solid #6a0dad;
    padding: 5px 0;
}